@media screen and (min-width:320px){
    html ,
    body {
        padding: 0;
        margin: 0;
    }
    #grand {
        width: 100%;
        display: flex;
        max-width: 1473px;
        margin: auto;
    }
    #parent {
        width: 100%;
        max-width: 800px;
        margin: auto;
    }
    a {
        color: white;
        text-decoration: none;
    }
    div#topnav a:hover {
        background-color: rgb(236, 228, 228);
        color: black;
        
    }
    #topnav {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        background-color: rgb(46, 44, 44);
        color: blanchedalmond;
        line-height: 50px;
    }
    #topnav a {
        padding: 16.5px;
    }
    #active {
        background-color: #4caf50;
        color: white;
        padding-right: 20px;
    }
    #japan {
        background-color: rgb(70, 193, 197);
        text-align: center;
        color: blanchedalmond;
        line-height: 22px;
        width: 100%;
        max-width: 800px;
    }
    #tab2{
        width: 100%;
        max-width: 800px;
    }
    table#tab2 a {
        color: rgb(9, 112, 143);
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
    }
    table#tab2 a:hover {
        text-decoration: underline;
        color: purple;
    }
    .greentext:hover {
        text-decoration: none;
    }
    span {
        color: green;
    }
    .imagehover {
        height:120px;
        width: 80px;
        transition: width 0.5s, height 0.5s;
    }
    .imagehover:hover {
        height: 300px;
        width: 215px;
        display: none;
    }
    #left ,
    #right {
        display: none;
    }
    #bottomnav {
        text-align: center;
        line-height: 25px;
        color: white;
        background-color: rgb(70, 193, 197);
        margin: auto;
        width: 100%;
        max-width: 1473px;
    }
    #bottomnav a:hover {
        text-decoration: underline;
        text-decoration-color: purple;
    }
}
    @media screen and (min-width:480px){
        .imagehover {
        height:140px;
        width: 100px;
        }
    }
    @media screen and (min-width:768px){
    .imagehover {
        height:165px;
        width: 125px;
    }
    .imagehover:hover {
        height: 300px;
        width: 215px;
        display:flex;
        }
    }
    @media screen and (min-width:1473px){
    #left ,
    #right {
        display:flex;
        flex-direction: column;
        }
    }
